.inputElem {
    justify-content: left;
    padding-bottom: 6px;
    padding-top: 6px;
}

.task-container {
    display: flex;
    width: 500px;
    margin-bottom: 1px;
    background: darkslategrey;
}

.containerWithCheck {
    /*height: 59px;*/
    width: 59px;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    width: 35%;
}

.containerWithText {
    display: flex;
    width: 382px;
    /*height: 59px;*/
    border: 1px white solid;
    align-items: center;
    word-wrap: break-word;
    word-break: break-word;
}
.text-task {
    font-size: 18px;
    color: white;
    margin-left: 11px;
}
.done-text {
     color: rgba(206, 206, 206, 0.3);
     text-decoration: line-through;
 }

.editInput {
background: transparent;
    outline: none;
    border: none;
    color: white;
    font: 18px Times;
    width: 100%;
}

.containerWithControl {
    width: 59px;
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
}


#buttADD {
    background: rgb(38 154 142);
    outline: none;
    border-radius: 3px;
    border: 1px solid darkgray;
    width: 50px;
    height: 30px;
    color: white;
}

#colorPicker {
    display: inline-flex;
}

.main-elements-control {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    border: 1px gray solid;
}

#add-task {
    border: none;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    width: 290px;
}

img:hover {
    transform: scale(1.25);
}

#content-page {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}






